:root, * {
    --bok-red: #b81237;
    --bs-navbar-nav-link-padding-x: 2.7rem;
    --bs-nav-link-hover-color: rgb(53 43 43);
    --bs-nav-link-font-weight: 600;
    --bs-nav-link-font-size: 18px;
}

#top-navbar {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
}

#bok-sub-navbar {
    height:0px;
    overflow:visible;
}

#main-container {
    width:100%;
    height: 2048px;
}

#main-container div {
    background-image: url("./resources/Homepage-Marquee-D.jpg");
    background-repeat:no-repeat;
    background-size: contain;
}

#bok-logo {
    order:2;
    width:260px;
}
#bok-navbar {
    padding:0px !important;
    margin: 0px !important;
}

#bok-navbar .nav-item {
    height: 100%;
    /* line-height: 50px; */
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color:transparent;
}

#bok-navbar .nav-item:hover {
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: var(--bok-red) !important;
}

#bok-navbar .nav-link:hover {
    font-weight: 600;
}

#bok-notice {
    padding-top:7px;
    padding-bottom:7px;
    position:relative;
    background-color: #d31111;
    color:white;
}

#bok-notice div {
    max-width:960px;
}

.centerXY {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.navbar-collapse{
    order:2;
}

.navbar-toggler {
    order: 1;
    border-width:0 !important;
    border-color:transparent !important;
    background-color:transparent !important;
    border-radius: 5px !important;
    margin:10px !important;
    height:40px !important;
    width:40px !important;
    order: 1 !important;
}

.navbar-icon-button {
    order:3;
    border-width:0;
    border-color:transparent;
    background-color:transparent;
    border-radius: 5px;
    margin-right:10px;
    height:40px;
    width:40px;
    color:gray;
}

.navbar-icon-button svg {
    height: 20px;
    width:20px;
}

.navbar-icon-button:hover {
    background-color:lightgray;
    color:var(--bok-red);
}

.navbar-button {
    order:3;
    border-width:0;
    border-color:transparent;
    background-color:transparent;
    border-radius: 5px;
    margin:10px;
    height:40px;
    color:gray;
}

.navbar-button svg {
    height: 20px;
    width:20px;
    margin-right:5px;
}

.navbar-button:hover {
    text-decoration: underline;
}

.navsub {
    height: 40px;
    width: 500px;
}

#bok-sub-navbar-filler {
    height: 40px;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,.2) 0%,
        transparent 100%
      );
}

.navsub-start {
    width: 50px;
    background: linear-gradient(
        45deg,
        transparent 50%,
        var(--bok-red) 50%
      ),linear-gradient(
        180deg,
        rgba(255,255,255,.2) 0%,
        transparent 100%
      );
}

.navsub-end {
    width: 50px;
    background: linear-gradient(
        45deg,
        var(--bok-red) 70%,
        white 70%
      );
}

.navsub-content {
    width: 100%;
    background-color:var(--bok-red);
}

.navsub-content .navbar-item {
    margin:5px;
    height:30px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    background-color:transparent;
    border-color:transparent;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer !important;
}

.navsub-content .navbar-item svg {
    height:70%;
    margin-right:5px;
}

.navsub-content .navbar-item:hover {
    background-color:rgba(0,0,0,.2);
}

.navbar-seperator {
    background-color:white;
    width: 1px;
    height:40%;
}